{% for entry in tree %}

{%- if entry.version != "Unreleased" %}

## Version [{{ entry.version }}](https://gitlab.com/swlabs/nestor/infra/gitlab-project-configurator/-/releases/{{ entry.version }})

{% if entry.date %}
*Release date: {{ entry.date }}*
{%- endif %}

{% for change_key, changes in entry.changes.items() %}

{% if change_key %}
**{{ change_key }}:**
{% endif %}

{% for change in changes %}
{% if change.scope %}
- *{{ change.scope }}*: {{ change.message }}
{% elif change.message %}
- {{ change.message }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
